<div class='templ'>
    <div class='tElem'>
        <div class='col-md-12'>
            <div id='colDivID0' class='colDivCL'
                 ng-repeat='c in dFldC[0] track by $index'>
                <div class='slotC' x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)'></div>
            </div>
            <div id='rowDivID0' class='rowDivCL'
                 ng-repeat='r in dFldR[0] track by $index'>
                <div class='slotR' x-lvl-drop-target='true' x-on-drop='dropped(dragEl, dropEl)'></div>
            </div>
        </div>
    </div>
</div>