body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
input[type="button"]
{
    display:block;
    border: none;
    outline:none;
}
input[type="text"]
{
    display:block;
    outline:none;
}
input[type="text"]::selection
{
    background: none;
}
input[type="number"]
{
    display:block;
    outline:none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



.Plans{
    width: 90%;
    height: 100%;
}
.Kontroller{
    z-index: 1000;
    max-width: 10%;
    height: 100%;
    float: left;
}
.region{
    fill: white;
    stroke: black;
    stroke-width: 0.5;
}
.region:hover{
    fill-opacity:0.9;
    fill: black
}
.tooltip {
    z-index: 999;
    position: fixed;
    text-align: center;
    padding: 4px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    background:rgba(0,0,0,0.9);
    width:auto;
    color:white;
    opacity:0;
    pointer-events: none;
}
.tooltip h4{
    margin:0;
    font-size: 3vh;
}
.countrhoverdrop{
    opacity: 1;
    background-color: white;
    margin: 20px;
}

.droprect{
    display: none;
}

.regiontarget{
    display: inline;
    fill: black;
    fill-opacity: 0.7;
}
.shorttooltip{
    border:1px solid red;
}




.featMCL {
    position:relative;
    width: 36em;
    height:32em;
    color: rgb(0, 0, 0);
    top: 2em;
     
    border-style: hidden;
    bottom: 0.8em;
    z-index: 10;
    background-color: rgb(199, 199, 199);
}
.menuID {
    position:absolute;
    right: 25em;
    width: 16em;
    height: 2em;
    color: rgb(0, 0, 0);
    border-style: hidden;
    background-color: rgb(166, 166, 166);
    z-index: 200;
}
#colorID {
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 20;
}

#dragbar {
    background-color: black;
    width: 100%;
    height: 8px;
    cursor: row-resize;
}

#ghostbar {
    height: 8px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999
}

#content-resizer {
    position: static;
    height: 0.4em;
    bottom: 50.5em;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

#content {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0px /* 200 + 6*/;
    right: 0;
    overflow: hidden;
    color: #FFF;
}

#top-content {
    position: absolute;
    top: 0;
    height: 45%;
    left: 0;
    right: 0;
    background-color: #444;
    overflow: auto;
}

#bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #777;
}

.arrowleft {
    background-image: url("./imgs/arrow_left.png");
    background-size: contain;
}

.arrowRight {
    background-image: url("imgs/arrow_right.png");
    background-size: contain;
}

.initCL {
    width: 100%;
    height: 2em;
    background-color: rgb(0, 0, 0);
    color: rgb(177, 177, 177);
    border: none;
    text-align: center;
}
.templCL {
    position: relative;
    float: left;
    margin-top: 1.9em;
    margin-left: 0.6em;
    width: 18em;
    height: 8em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
.groupCL {
    position: relative;
    float: left;
    margin-top: 1.9em;
    margin-left: 0.6em;
    width: 9em;
    height: 6em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
    z-index: 200;
}
.descrCL:hover {
    color: rgb(122, 122, 255);
}
#loadBtn {
    position: relative;
    float: left;
    margin-top: 1.9em;
    width: 9em;
    height: 4.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
#saveBtn {
    position: relative;
    float: left;
    margin-top: 1.9em;
    width: 9em;
    height: 4.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
#guideBtn {
    position: relative;
    float: left;
    margin-top: 1.9em;
    margin-left: 0em;
    width: 9em;
    height: 4.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
#btn_save {
    position: relative;
    float: left;
    margin-top: 1.9em;
    width: 9em;
    height: 4.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
#btn_add {
    position: relative;
    float: left;
    margin-top: 1.9em;
    width: 9em;
    height: 4.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
#loadBtn:hover {
    color: rgb(122, 122, 255);
}
#saveBtn:hover {
    color: rgb(122, 122, 255);
}
#btn_save:hover {
    color: rgb(122, 122, 255);
}
#btn_add:hover {
    color: rgb(122, 122, 255);
}
.descrCL {
    position: relative;
    float: left;
    margin-top: 1em;
    margin-left: 0.6em;
    width: 14.9em;
    height: 2em;
    color: rgb(0, 0, 0);
    border-style: hidden;
}
.sliderCL {
    position: relative;
    float: left;
    margin-top: 1.9em;
    margin-left: 0em;
    width: 5em;
    height: 3.5em;
    color: rgb(0, 0, 0);
     
    border-style: hidden;
}
.Template {
    position: relative;
    border: 5px solid rgb(166, 166, 166);
    background-color: rgb(244, 244, 244);
    margin-bottom: 0.5em;
     
    border-style: hidden;
}
.MainIO {
    position: relative;
    width: fit-content;
    height: 7em;
    border: 5px solid rgb(166, 166, 166);
    background-color: rgb(244, 244, 244);
    margin-bottom: 0.5em;
    margin-right: 15em;
     
    border-style: hidden;
}
.mainCtnr {
    position: absolute;
    width: 98%;
    height: 90%;
    margin: 1em 1em;
}

.view1 {
    position: relative;
    width: 100%;
    height: 40%;
}

.view2 {
    position: relative;
    width: 99.99%;
}

.cellValCL {
    position: relative;
    width: 9em;
    height: 2em;
    background-color: #8e8e8e;
}
.headCL {
    position: relative;
    width: 23em;
    height: 2em;
    margin-top: 1em;
    margin-left: 2.3em;
    background: transparent;
    color: inherit;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cellCL {
    position: relative;
    width: 9em;
    height: 2em;
    background: transparent;
    color: inherit;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cursor {
    cursor: move;
}

.row {
    background-color: #8e8e8e;
    height: 100px;
    margin-right: -15px;
    margin-left: -14px;
}

.read-out {
    margin-top: 30px;
}

.dragging {
    margin: -1px;
    border: 1px dashed #ccc;
}

.drop-area {
    border: 2px dashed #ccc;
    width: 100%;
    min-height: 200px;
}

.cnt_res {
    position: relative;
    height: 92%;
}

#listOpt {
    position: relative;
    height: 93%;
}
.tooltipCL {
    position: relative;
    float: right;
    width: auto;
    height: 3em;
    bottom: 0.6em;
    margin-right: 5em;
    color: rgb(0, 0, 0);
}
.tooltipCLX {
    position: absolute;
    right: 3em;
    bottom: 0;
    width: auto;
    height: 3em;
    margin-right: 5em;
    color: rgb(0, 0, 0);
    z-index: 200;
}
#ListSVG_Element {
    position: relative;
    float: left;
    border: 5px solid rgb(166, 166, 166);
    background-color: rgb(244, 244, 244);
    margin-bottom: 0.5em;
     
    border-style: hidden;
    margin-left: 18.6%;
    margin-top: 1em;
    width: 65%;
    height: 92%;
    overflow-x: scroll;
    padding-left: 1em;
    padding-top: 1em;
}

#uploadSVG-Element {
    position: relative;
    float: left;
    background-color: rgb(222, 222, 222);
    margin-left: 1em;
    margin-top: 1em;
    width: 15%;
    height: 100%;
     
    border-style: hidden;
}

#textSVG {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-left: 22%;
    top: 15%;
    height: 60%;
}

#container {
    margin-top: 20px;
}

#container .ui-droppable {
}

ul {
    margin: 0;
}

hr {
    margin: 5px 0;
}

.btn-block {
    padding-left: 5px;
    padding-right: 5px;
}

.selectable .ui-selecting {
    background: #FECA40;
}

.selectable .ui-selected {
    background: #F39814;
    color: white;
}

.badge.badge-drag {
    position: absolute;
    top: -7px;
    right: -7px;
}

i.move {
    cursor: move;
}